* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.App {
  text-align: center;
  width: 100%;
  min-height: 100vh;
  /* background: #381eac; */
  /* background: rgb(233, 232, 232); */
  /* background: rgb(25, 25, 25); */
  background:  #3C3C3C;
  display: flex;
  align-items: center;
  justify-content: center;
}

@font-face {
  font-family: ;
  src: url();
}
